body {
    overflow: auto;
}
.nav-xs {
    padding: 0;
}
.nav-xs-col {
    display: flex;
    flex-direction: column;
}
.nav-xs-col-mt {
    margin-top: 1rem;
}
.nav-xs-col-mb {
    margin-bottom: 1rem;
}
.navbar-brand {
    margin-right: 0;
}
@include media-breakpoint-up(sm) {
    .nav-xs {
        padding: 1rem;
    }
    .nav-xs-col {
        display: flex;
        flex-direction: row;
    }
    .nav-xs-col-mt {
        margin-top: 0;
    }
    .nav-xs-col-mb {
        margin-bottom: 0;
    }
}